.page-main {
  padding: 12px;
  background: #eeeeee;
  height: calc(100vh - 88px);

  .page-title {
    font-size: 22px;
    font-weight: 450;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 14px;
  }

  .page-body {
    padding: 14px;
    background: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 5px #cccccc;
    border-radius: 7px;
    height: 90%;
  }
}
